.box_value {
    display: flex;
    justify-content: space-between;
}

.super_range {
    margin-top: 30px;
    margin-bottom: 25px;
    max-width: 170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.box {
    max-width: 400px;
    width: 100%;
    opacity: 0.8;
    background-color: #04236e;
    margin: 0 auto;
    padding: 10px 25px;
}