.blue {
    border-bottom: 5px solid #7676ea;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}

.blockHW {
    background-color: #00d0ff;
    width: 300px;
}