.checkbox {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #b3e8e8;
    cursor: pointer;
}
.checkbox:checked {
    appearance: none;
    background-image: url("checkbox.png");
    /*background-image: url(./checkbox.png);*/
}
.spanClassName {
    margin-left: 15px;
}

.label {
    margin-top: 15px;
    max-width: 200px;
    width: 100%;
    cursor: pointer;
    display: flex;
}
