.title {
    color: #fff;
}
.active {
    font-size: 22px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(56, 72, 245);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.link {
    font-size: 22px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    color:  #00d0ff;
}

.header_nav a + a {
    margin-left: 40px;
}

.nav {
    padding: 20px 0 20px 25px;
    margin-top: 80px;
}
.header_nav {
    padding: 10px 0 10px 25px;
    position: absolute;
    top: 70px;
}

.push {
    color: #fff;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 15px;
}
.num {
    color: #fff;
    font-size: 450px;
    font-weight: 900;
}

.box {
    margin: 0 auto;
    width: 1100px;
}
.not_found {
    color: #00d0ff;
    opacity: 0.5;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    line-height: 100px;
}