.title {
    color: #fff;
}
.active {
    font-size: 22px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(56, 72, 245);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.link {
    font-size: 22px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    color:  #00d0ff;
}

.nav a + a {
    margin-left: 40px;
}

.nav {
    padding: 20px 0 20px 25px;
}

.push {
    color: #fff;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 15px;
}
