.allOk {
    border: 1px solid #7cf152;
}

.error {
    border: 1px solid red;
}
.box {
    background-color: rgb(0, 208, 255);
    width: 300px;
    padding: 20px;
}
.num {
    margin-left: 15px;
}

.errMessage {
    color: #9b0909;
    font-size: 11px;
}
.inner {
    display: flex;
    align-items: center;
}